<style>
  table {
    max-width: 100%;    /* Maximum width of cells */
    min-width: 1920px;   /* Minimum width of cells */
    text-align: center; /* Center text in cells */
    border-spacing: unset; /* No spacing between cells */
  }
  th, td {
    border: 1px solid black; /* Border around cells */
    padding: 10px; /* Space within cells */
  }
  .highlight {
    background-color: yellow;
    font-weight: bold;
  }
</style>