upstream {{ stream.name }} {
    {{ stream.upstream_method | default('least_conn') }};
{% for host in stream.upstreams %}
    server {{ host }}.{{ elk_domain }}:{{ stream.upstream_port | default(stream.listen_port) }};
{% endfor %}
}

server {
    listen {{ stream.listen_port }} ssl;

    ssl_certificate {{ elk_install_dir }}/nginx/ssl/{{ elk_domain }}.pem;
    ssl_certificate_key {{ elk_install_dir }}/nginx/ssl/{{ elk_domain }}.key;
    #include {{ elk_install_dir }}/nginx/ssl/options-ssl-nginx.conf;
    #ssl_dhparam {{ elk_install_dir }}/nginx/ssl/ssl-dhparams.pem;

    proxy_pass {{ stream.name }};
}
