{
    "name": "{{ bucket.name | lower | replace(' ', '-')}}",
    "versioning": {
        "enabled": false,
        "excludePrefixes": [],
        "excludeFolders": false
    },
    "locking": false
}