{
    "accessKey": "{{ minio_access_key }}",
    "secretKey": "{{ minio_secret_key }}",
    "description": "{{ account.access_key.description | default('') }}",
    "comment": "{{ account.access_key.comment | default('') }}",
    "name": "{{ account.name | upper }}",
    "expiry": "{{ account.access_key.expiry | default('') }}"
}