[Unit]
Description=Elasticsearch
Wants=network-online.target
After=network-online.target

[Service]
User={{ elk_user }}
Group={{ elk_user }}

WorkingDirectory={{ elk_install_dir }}/elasticsearch
ExecStart={{ elk_install_dir }}/elasticsearch/bin/elasticsearch --pidfile {{ elk_logs_dir }}/elasticsearch/elasticsearch.pid --quiet
PIDFile={{ elk_logs_dir }}/elasticsearch/elasticsearch.pid
PrivateTmp=true

LimitNOFILE=262144
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
LimitMEMLOCK=infinity

TimeoutStopSec=900
TimeoutStartSec=900

Restart=always
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
