[Unit]
Description=Logstash
After=network.target

[Service]
User={{ elk_user }}
Group={{ elk_user }}
ExecStart={{ elk_install_dir }}/logstash/bin/logstash
WorkingDirectory={{ elk_install_dir }}/logstash
EnvironmentFile=-{{ elk_data_dir }}/logstash/logstash_keystore_pass

Restart=unless-stopped
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
