[Unit]
Description=Logstash
After=network.target

[Service]
User={{ elk_user }}
Group={{ elk_user }}
ExecStart={{ elk_install_dir }}/logstash/bin/logstash
WorkingDirectory={{ elk_install_dir }}/logstash
Restart=always

[Install]
WantedBy=multi-user.target
