instances:
{% for node in groups['elk'] %}
  - name: "{{ hostvars[node].inventory_hostname }}"
    dns:
      - "{{ hostvars[node].inventory_hostname }}"
      - "{{ hostvars[node].inventory_hostname }}.{{ elk_domain }}"
      - "localhost"
    ip:
      - "{{ hostvars[node].ansible_host }}"
      - "127.0.0.1"
{% endfor %}