upstream es_master {
    least_conn;
{% for host in groups['es_master'] %}
    server {{ hostvars[host]['ansible_host'] }}:{{ elasticsearch_config['http.port'] }};
{% endfor %}
}

server {
    listen {{ (elasticsearch_config['http.port'] | int) + 10000 }};
    proxy_pass es_master;
}