upstream kibana {
    least_conn;
{% for host in groups['kibana'] %}
    server {{ hostvars[host]['ansible_host'] }}:{{ kibana_config['server.port'] }};
{% endfor %}
}

server {
    listen 80;
    proxy_pass kibana;
}